@font-face {
    font-family: RobotoCondensed;
    src: url('../fonts/Roboto-Condensed.ttf');
}
@font-face {
    font-family: Digital7;
    src: url('../fonts/digital-7.ttf');
}
@font-face {
    font-family: SairaCondensed;
    src: url('../fonts/SairaCondensed-Regular.ttf');
}

body{ margin:0; font-family: RobotoCondensed; display:flex; flex-direction:column;}

/***************************** input *****************************/
.input { padding: 6px; background-color: #ffe015; margin-bottom: 3px; border: 1px solid black;}
.input:-webkit-autofill{ -webkit-box-shadow: 0 0 0px 1000px #ffffff inset; }
.input:hover { padding: 6px; background-color: #ffce28; margin-bottom: 3px; border: 1px solid black; color: black; }

/**************************** big input **************************/
.big_input { width: 360px; padding: 16px; background-color: #ffe015; margin-bottom: 3px; border: 1px solid black;}
.big_input:-webkit-autofill{ -webkit-box-shadow: 0 0 0px 1000px #ffe015 inset; }
.big_input:hover { padding: 16px; background-color: #ffce28; margin-bottom: 3px; border: 1px solid black; color: black; }
.big_textarea { padding: 16px; background-color: #ffe015; margin-bottom: 3px; border: 1px solid black; color: black; width: 360px; height: 150px; }
.big_textarea:hover { padding: 16px; background-color: #ffce28; margin-bottom: 3px; border: 1px solid black; color: black;  }

/*************************** login frame ***************************/
.login_frame { position: absolute; background: #EEE; text-align: center; left:50%; top:40%; transform: translate(-50%,-50%); border: 1px solid #333333; border-radius: 12px; width: 400px; padding-bottom: 20px; box-shadow: 10px 12px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
.login_frame > .title { border: 0; width: 97%; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #333333; color: white; display: inline-block; overflow: hidden; padding: 6px; margin-bottom: 20px; }
.login_frame > form > p { font-size: 0.8em; padding: 0; }
.login_frame > form > p > a { text-decoration: none; }
.login_frame > form > hr { margin-left: 15px; margin-right: 15px; }
.login_frame a { color: #4d90fe; }
.login_frame a:visited { color: #4d90fe; }

/************************** header *********************************/
.header { top:0; z-index: 100; position: absolute; width: 100%; background-color: #444444b8; display: table; position: fixed;} 
.header > p { padding: 5px;}
.header > span { border: 1px solid black;}
.header > .logo { position: absolute; font-size: 1.8em; padding: 2px; padding-left: 10px; font-family: SairaCondensed; color: white;}
.header > ul { list-style-type: none; margin: 0px; margin-left: 15%; padding: 0; background-color: #333; }
.header > ul > li { float: left; }
.header ul > li > img { padding-top: 17px; padding-left: 8px; margin-right: -5px;}
.header > ul > li:last-child { border-right: none; }
.header > ul > li > a { display: block; color: black; text-align: center; padding: 14px 16px; text-decoration: none; }
.header > ul > li a:hover:not(.active) { background-color: #000000; }
.active { color: #63468a; background-color: #4d90fe; border: 0; }
.header > .login { display: table-cell; float: right; margin-top: 15px; color: white; text-decoration: none; margin-right: 30px; }
.header > .login { display: table-cell; float: right; margin-top: 15px; color: white; text-decoration: none; margin-right: 30px; border-bottom: 1px solid white; }
.header > .menu-holder li { transition: background 0.3s linear; -moz-transition: background 0.3s linear; -webkit-transition: background 0.3s linear; -o-transition: background 0.3s linear; -ms-transition: background 0.3s linear; }
.header > .menu-holder > ul { padding-left: 54px; list-style: none; margin: 0; z-index: 2; border: 0px;}
.header > .menu-holder > ul > li { color: #000000b5; display: block; float: left; position: relative; text-decoration: none; }
.header > .menu-holder > ul > li > a { color: #ffffff; text-decoration: none; font-size: 1.1em;  display: -webkit-inline-box; padding: 15px; text-transform: uppercase; }
.header > .menu-holder > ul > li > ul > li > a { color:white; text-decoration: none; font-size: 0.9em; display: flex; padding: 10px; text-transform: uppercase; }
.header > .menu-holder > ul > li > .category-menu > li > a { color:white; text-decoration: none; font-size: 0.9em; display: flex; padding: 10px; text-transform: uppercase; margin-left: 65px;}
.header > .menu-holder li:hover { cursor: pointer; background-color: #a00000c9; }
.header > .menu-holder > ul > li > ul { overflow: hidden; list-style-type: none; background: #000000b5; visibility: hidden; opacity: 0; position: absolute; transition: all 0.5s ease; left: 0; display: none; z-index: 999; padding-left: 0px !important; }
.header > .menu-holder > ul li:hover > ul,ul li ul:hover { visibility: visible; opacity: 1; display: block;  width: 100%; }
.header > .menu-holder > ul > li > ul > li { width: 100% !important; border: 0px; }
.header > .menu-holder + a { position: absolute; padding-left: 90%; }
.header > .menu-holder > ul > li > ul > li > .coupe-icon { padding-left: 15px; position: absolute; background: url(../../Resources/images/design/cars-sprite.png); background-position: 635px 120px; width: 50px; height: 30px; border: 0px; cursor: pointer; margin-top: 0px; }
.header > .menu-holder > ul > li > ul > li > .sedan-icon { padding-left: 15px; position: absolute; background: url(../../Resources/images/design/cars-sprite.png); background-position: 833px 163px; width: 50px; height: 30px; border: 0px; cursor: pointer; margin-top: 0px; }
.header > .menu-holder > ul > li > ul > li > .hatchback-icon { padding-left: 15px; position: absolute; background: url(../../Resources/images/design/cars-sprite.png); background-position: 633px 242px; width: 50px; height: 30px; border: 0px; cursor: pointer; margin-top: 0px; }
.header > .menu-holder > ul > li > ul > li > .combi-icon { padding-left: 15px; position: absolute; background: url(../../Resources/images/design/cars-sprite.png); background-position: 633px 203px; width: 50px; height: 30px; border: 0px; cursor: pointer; margin-top: 0px; }
.header > .menu-holder > ul > li > ul > li > .cabriolet-icon { padding-left: 15px; position: absolute; background: url(../../Resources/images/design/cars-sprite.png); background-position: 700px 203px; width: 50px; height: 30px; border: 0px; cursor: pointer; margin-top: 0px; }
.header > .menu-holder > ul > li > ul > li > .pickup-icon { padding-left: 15px; position: absolute; background: url(../../Resources/images/design/cars-sprite.png); background-position: 700px 162px; width: 50px; height: 30px; border: 0px; cursor: pointer; margin-top: 0px; }
.header > .menu-holder > ul > li > ul > li > .jeep-icon { padding-left: 15px; position: absolute; background: url(../../Resources/images/design/cars-sprite.png); background-position: 700px 118px; width: 50px; height: 30px; border: 0px; cursor: pointer; margin-top: 0px; }
.header > .menu-holder > ul > li > ul > li > .van-icon { padding-left: 15px; position: absolute; background: url(../../Resources/images/design/cars-sprite.png); background-position: 830px 118px; width: 50px; height: 30px; border: 0px; cursor: pointer; margin-top: 0px; }
.menu-holder { margin-left: 16%; }
.home-button { position: absolute; padding-top: 10px; padding:13px 16px 15px 15px; cursor: pointer; }
.home-button:hover { background-color: #a00000c9; }
.active-home-button { position: absolute; padding-top: 10px; padding:13px 16px 15px 15px; cursor: pointer; background-color: #63468a; }
.login-keys-holder { margin-left: 72%; margin-top: 14px; position: absolute; }
.login-keys-holder img { margin-bottom: -8px; }
.login-keys-holder > a { text-decoration: none; color: white; margin-left: 7px; }
.login-keys-holder > p { color: white; font-size: 0.9em; margin: 5px; }

/******************************* footer *************************************/
.footer { margin-top:auto; padding-bottom: 10px; width: 100%; min-height: 9%; background-color: #444444b8; color: white; text-align: center; z-index: 100; overflow: auto; display: block; }
.footer > hr { margin-left: 180px; margin-right: 180px; }
.social-container { height: 30px; margin-left: 60%; width: 330px; display: inline-block; }
.social-container p { position: absolute; margin:4px; }
.social-container > .face { position: absolute; border-radius: 15px; background: url('../../Resources/images/design/social-icons-min.png'); background-position: 772px 120px; width:28px; height:28px; border: 0px; cursor: pointer;}
.social-container > .face:hover { border-radius: 15px; background: url('../../Resources/images/design/social-icons-min.png'); background-position: 772px 160px; width:28px; height:28px; border: 0px; display: inline-block; cursor: pointer; }
.social-container > .linkedin { margin-left: -35px; position: absolute; border-radius: 15px; background: url('../../Resources/images/design/social-icons-min.png'); background-position: 576px 120px; width:28px; height:28px; border: 0px; cursor: pointer;}
.social-container > .linkedin:hover { margin-left: -35px; border-radius: 15px; background: url('../../Resources/images/design/social-icons-min.png'); background-position: 576px 160px; width:28px; height:28px; border: 0px; display: inline-block; position: absolute; cursor: pointer; }
.social-container > .git { margin-left: 35px; position: absolute; border-radius: 15px; background: url('../../Resources/images/design/git-icon.png'); background-position: 161px 68px; width:28px; height:28px; border: 0px; cursor: pointer;}
.social-container > .hacker_rank { margin-left: -70px; position: absolute; border-radius: 15px; background: url('../../Resources/images/design/HackerRankIcon.png'); background-position: 133px 68px; width:28px; height:28px; border: 0px; cursor: pointer;}
.social-container > .pinterest { margin-left: 35px; position: absolute; border-radius: 15px; background: url('../../Resources/images/design/social-icons-min.png'); background-position: 70px 121px; width:28px; height:28px; border: 0px; cursor: pointer;}
.social-container > .pinterest:hover { border-radius: 15px; background: url('../../Resources/images/design/social-icons-min.png'); background-position: 70px -4px; width:28px; height:28px; border: 0px; display: inline-block; position: absolute; cursor: pointer; }
.social-container > .skype { margin-left: 70px; position: absolute; border-radius: 15px; background: url('../../Resources/images/design/social-icons-min.png'); background-position: 695px 120px; width:28px; height:28px; border: 0px; cursor: pointer;}
.social-container > .skype:hover { border-radius: 15px; background: url('../../Resources/images/design/social-icons-min.png'); background-position: 695px 160px; width:28px; height:28px; border: 0px; display: inline-block; position: absolute; cursor: pointer; }
.footer-blocks-holder { display: flex; width: 65%; align-self: center; margin: 0px auto; }
.footer-blocks-holder .block { margin: 0px auto;}
.footer-blocks-holder p { text-transform: uppercase; margin-left: -35px; text-decoration: underline; font-size: 1.1em; }
.footer-blocks-holder li { list-style-type: none; padding-bottom: 5px; text-align: left;}
.footer-blocks-holder li a { text-decoration: none; color: white; }
.footer-blocks-holder img { margin-top: 30px; }
.footer-blocks-holder li:before { content: ''; position: absolute; border: 1px solid white; padding: 1px; border-width: 0 0.2em 0.2em 0; height: 0.2em; width: 0.2em; margin-left: -20px; margin-top: 6px; transform: rotate(-50deg); }

/********************** anti-bot *************************/
.antibot_field { width: 30%; border: 1px dashed; margin-bottom: 10px; }
.antibot_field > legend { font-size: 0.8em}
.antibot_field > input { width:  217px !important; }

/********************** products *************************/
.product {width: 25%; background-color: #333333; padding: 20px; color: white; display: inline-block; margin: 10px; height: 175px; overflow-y: auto; text-align: left; }
.product > div { font-size: 0.85em; }
.product > .title { text-align: center; font-size: 1.2em; background-color: #ffce28; color: black; margin-bottom: 10px;}
.product > .download_link { padding: 5px; text-align: center; }
.product label { font-size: 1.1em; padding-right: 10px; text-decoration: underline; color: #888888;}
.product label:after { content:" : " }
.product a { font-size: 1.3em; color: red; }

/********************** system messages design ********************/ 
.msg { position: fixed; align-self: center; width: 100px; border: 1px solid black; z-index: 101; margin-top: 18%; text-align: center; border-radius: 5px; min-width:300px; }
.msg div { border-bottom: 1px solid black; padding: 0; margin: -1px; width: 98%; border-top-left-radius: 5px; border-top-right-radius: 5px; color: white; background: #333; padding: 4px; }
.msg img { padding-top: 20px; }
.warning-msg { background: #ffb42b; }
.notice-msg { background: #66ff66; }
.error-msg { background: #ff0000; }
.success-msg { background: #00ffff; }
.message-background { width: 100%; height: 100%; background: rgba(1,1,1,.7); position: absolute; z-index: 101; }

/********************** common *****************************/
.fadeout { visibility: hidden; opacity: 0; transition: visibility 0s 2s, opacity 2s ease-in-out; }
.blur { -webkit-filter: blur(4px); filter: blur(4px); }
.fadein { margin: 10px; animation: fadein 4s; -moz-animation: fadein 4s; -webkit-animation: fadein 4s; -o-animation: fadein 4s; text-align: left; }
.content_wrapper { color:white; padding-top: 50px; position: relative; padding: 15px; z-index: 1; width: 1000px; margin: 0px auto; margin-top: 51px; background:#444444b8; }
.background {  background:  url('../../Resources/images/design/back.jpg')  no-repeat center center fixed; background-color: #b4ccfd; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; width: 100%; height: 100%; position: absolute; z-index: -1; }
.unselectable { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.transition { -webkit-transition: all 0.8s; -moz-transition: all 0.8s; -o-transition: all 0.8s; transition: all 0.8s; }
.button { padding: 8px; background-color: #d4d8dd; cursor: pointer; padding-left: 28px; padding-right: 28px; border: 1px solid black; box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
.error { padding: 8px; width: 290px; background: #ff5151; font-size: 0.8em; border-radius: 10px; }
.icon { position: absolute; width: 17px; height: 17px; margin-left: -35px; }
#google_translate_element { margin-left: 86%; position: absolute; }
h1 { text-align: center; }
td > input { border: 1px dashed red; text-align: center; }
td > select > option[selected='selected'] { background-color: #ffce28; color: white;}

/********************** animations ***************************/
@keyframes fadein {  from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-webkit-keyframes fadein { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadein { from { opacity:0; } to { opacity: 1; } }

/********************** media queries ************************/
@media screen and (max-width: 1220px) {
    .header > div { visibility: hidden;}
}
