/********************** accounts tablle *******************/
.accounts-table { border-collapse: collapse; width: 100%; }
.accounts-table td { border: 1px solid #dddddd; text-align: center; padding: 8px; font-size: 0.85em; }
.accounts-table th { background-color: #000000; border: 1px solid #000000; text-align: center; padding: 8px; color: white; font-size: 0.85em; }
.accounts-table tr:nth-child(even) { background-color: #ffe015; }
.accounts-table img { width: 20px; cursor: pointer; }